:host {
  display: block;
}

.test keka-slider {
  margin: 20px;
}

.test .d-flex {
  display: flex;
}

.tooltip-elements {
  margin-left: 500px;
}
.tooltip-elements keka-tooltip,
.tooltip-elements keka-test-tooltip {
  padding: 50px;
  /* background-color: aquamarine; */
}
